/* static/style.css */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: white;
}

header {
    background-color: #1a1a1a;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between; /* 로고와 인증 버튼 사이의 간격을 조정 */
    align-items: center;
}

.header-content {
    display: flex;
    align-items: center; /* 로고와 제목을 세로 중앙 정렬 */
}

.logo {
    height: 100px; /* 원하는 높이로 설정 */
    margin-right: 15px; /* 제목과의 간격 설정 */
    
}


.auth-buttons {
    margin-top: 10px;
}

.auth-buttons button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #0071e3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.auth-buttons button:hover {
    background-color: #005bb5;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #282828;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

a{
    color: #0071e3;
}

h2 {
    color: #fffafa;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #555;
}

.flashes {
    list-style-type: none;
    padding: 0;
}

.flashes li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.flashes li.success {
    background-color: #d4edda;
    color: #155724;
}

.flashes li.error {
    background-color: #f8d7da;
    color: #721c24;
}

.song-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.song {
    width: 30%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.song img {
    width: 100%;
    border-radius: 10px;
}

.player {
    margin-top: 30px;
    padding: 20px;
    background-color: #333;
    color: white;
    text-align: center;
    border-radius: 10px;
}

.footer {
    margin-top: 20px;
    text-align: center;
    color: #777;
}

.flash-messages {
    margin: 20px 0;
}

.flash-messages .alert {
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
}

.flash-messages .alert.success {
    background-color: #4CAF50; /* 성공 메시지 색상 */
}

.flash-messages .alert.error {
    background-color: #f44336; /* 오류 메시지 색상 */
}

.flash-messages .alert.warning {
    background-color: #ff9800; /* 경고 메시지 색상 */
}

